.page-wrapper {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 8rem;
  font-family: 'Playball', cursive;
}
h2 {
  color: #f26d7d;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
}
h3 {
  color: white;
  font-size: 2.3rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
p,
span {
  font-size: 1.4rem;
  font-family: 'Source Sans Pro', sans-serif;
}
nav {
  margin: 0 !important;
  color: white;
  background: url("../../images/nav_bg.png") repeat-x 0 100%;
}
nav .navbar-header.expanded {
  background-color: #61cdb4;
}
nav button.navbar-toggle {
  font-size: 3rem;
  cursor: pointer;
}
nav button.navbar-toggle:hover {
  text-decoration: underline;
}
nav button.navbar-toggle .menu-text {
  position: relative;
  top: -1px;
  margin-right: .2em;
}
nav button.navbar-toggle .menu-icon {
  font-size: .8em;
}
nav .navbar-collapse {
  padding: 0;
}
nav .nav {
  width: 100%;
  margin: 0;
}
nav .nav-link {
  padding: 2em;
  cursor: pointer;
}
nav .nav-link:hover h3 {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  nav .nav-link {
    border-bottom: 1px solid white;
    background-color: #61cdb4;
  }
  nav .nav-link:last-child {
    border-bottom: none;
    background: none;
  }
}
.introduction {
  position: relative;
  top: -1em;
  z-index: -1;
  padding: 10.5em 0 0;
  background-color: #f5f5f5;
}
.introduction .hero-logo {
  margin-bottom: 10em;
}
.biz-info {
  position: relative;
  top: -1em;
}
.biz-info .info-snip {
  border-right: 1px solid white;
  padding: 1em 0;
  background: rgba(255, 0, 0, 0.2);
}
.biz-info .info-snip:last-child {
  border-right: none;
}
.biz-info .info-snip .glyphicon {
  margin-right: .2em;
  color: #E85858;
}
@media screen and (max-width: 767px) {
  .biz-info .info-snip {
    border-top: 1px solid white;
    border-right: none;
  }
}
.our-story {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90em;
}
.our-story .story-image {
  padding: 6em 4em;
}
.our-story .story-image h1 {
  display: none;
}
.our-story .story-image img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .our-story .story-image {
    padding: 6em 4em 1em;
  }
  .our-story .story-image h1 {
    display: block;
    text-align: center;
    margin-bottom: .8em;
  }
}
.our-story .story-text {
  padding: 2em 4em;
}
@media screen and (max-width: 767px) {
  .our-story .story-text h1 {
    display: none;
  }
}
.our-story .story-text p {
  margin-bottom: 2em;
}
.services {
  padding: 2em;
  background-color: #f5f5f5;
}
.services .service-items {
  margin-top: 2em;
}
.services .service-items .service-item {
  padding: 2em;
  margin-bottom: 2em;
}
.services .service-items .service-item .item-wrapper {
  padding: 3em 1em;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
}
.services .service-items .service-item .item-wrapper img {
  margin-bottom: 2em;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .services .service-items .service-item .item-wrapper img {
    width: 50%;
  }
}
.services .service-items .service-item .item-wrapper h2 {
  margin-bottom: 1em;
}
.services .service-items .service-item .item-wrapper p {
  text-align: justify;
  text-justify: inter-word;
}
.contact .contact-map {
  margin-bottom: 2em;
  width: 100%;
  height: 25em;
}
.contact .contact-info {
  padding: 2em 4em;
}
.contact .contact-info .thank-you-statement {
  margin-bottom: 4em;
}
.contact .contact-info .info-statement {
  margin-bottom: 4em;
}
.contact .contact-info .info-statement h2 {
  margin-bottom: .2em;
}
.footer {
  padding: 3em;
  background-color: #61cdb4;
}
.footer .social-media-link {
  display: inline-block;
  margin-right: 1em;
  width: 1.5em;
  height: 1.5em;
  padding: .3em;
  background-color: white;
  font-size: 3rem;
  box-shadow: 0 0 3px #ccc;
  cursor: pointer;
}
.footer .social-media-linklast-child {
  margin-right: 0;
}
.footer .social-media-link:hover {
  background-color: #f26d7d;
  color: white;
}
.footer .social-media-link .fa {
  position: relative;
}
.footer .social-media-link .fa-pinterest,
.footer .social-media-link .fa-instagram {
  top: -1px;
}
.footer .social-media-link .fa-facebook {
  left: -1px;
}
.footer .copyright {
  position: relative;
  top: 1em;
  color: white;
}
@media screen and (max-width: 767px) {
  .footer .copyright {
    margin-top: 2em;
    text-align: center;
  }
}
