@-webkit-keyframes push-img {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}
@keyframes push-img {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}
.page-wrapper {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
p,
span,
a {
  margin: 0;
  padding: 0;
  color: #4d4d4d;
}
h1 {
  margin-bottom: 1rem;
  font-size: 7rem;
  font-family: 'Playball', cursive;
}
h2 {
  color: #f26d7d;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
}
h3 {
  color: white;
  font-size: 2.3rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
p,
span {
  font-size: 1.4rem;
  font-family: 'Source Sans Pro', sans-serif;
}
p {
  margin-bottom: 2rem;
}
a:hover {
  color: #f26d7d !important;
}
img {
  margin-bottom: 2rem;
}
nav {
  position: fixed !important;
  z-index: 5;
  margin: 0 !important;
  width: 100%;
  color: white;
  background: url("../../images/nav_bg.png") repeat-x 0 100%;
}
nav .navbar-header.expanded {
  background-color: #61cdb4;
}
nav button.navbar-toggle {
  font-size: 3rem;
  cursor: pointer;
}
nav button.navbar-toggle:hover {
  text-decoration: underline;
}
nav button.navbar-toggle .menu-text {
  position: relative;
  top: -1px;
  margin-right: .2em;
  font-size: 1em;
}
nav button.navbar-toggle .menu-icon {
  font-size: .8em;
}
nav .navbar-collapse {
  border-top: 1px solid white;
  padding: 0;
}
nav .nav {
  width: 100%;
  margin: 0;
}
nav .nav-link {
  padding: 2em;
  cursor: pointer;
}
nav .nav-link:hover h3 {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  nav .nav-link {
    border-bottom: 1px solid white;
    background-color: #61cdb4;
  }
  nav .nav-link:last-child {
    border-bottom: none;
    background: none;
  }
}
@media screen and (max-height: 400px) {
  nav .nav-link {
    padding: 1em;
  }
}
.introduction {
  position: relative;
  top: -1em;
  z-index: -1;
  background-color: #f5f5f5;
}
.introduction .hero-logo {
  z-index: 2;
  margin-top: 15rem;
  margin-bottom: 8rem;
}
@media screen and (max-width: 767px) {
  .introduction .hero-logo {
    margin-top: 11rem;
    margin-bottom: 2rem;
  }
}
.introduction .hero-logo h1 {
  font-size: 10rem;
}
.introduction #hero-carousel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s ease-in-out;
  opacity: 0.25;
}
.introduction #hero-carousel .bg-image {
  transition: opacity 3s ease, visibility 3s;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 150%;
}
.introduction #hero-carousel .bg-image:only-child {
  -webkit-animation-direction: alternate !important;
          animation-direction: alternate !important;
}
.introduction #hero-carousel .bg-image.visible {
  -webkit-animation: push-img 45s linear infinite;
          animation: push-img 45s linear infinite;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
@media screen and (max-width: 1280px) {
  .introduction #hero-carousel .bg-image.visible {
    -webkit-animation: push-img 29.25s linear infinite;
            animation: push-img 29.25s linear infinite;
  }
}
@media screen and (max-width: 736px) {
  .introduction #hero-carousel .bg-image.visible {
    -webkit-animation: push-img 18s linear infinite;
            animation: push-img 18s linear infinite;
  }
}
.introduction #hero-carousel .bg-image.top {
  z-index: 2;
}
.biz-info {
  position: relative;
  top: -1em;
}
.biz-info .info-snip {
  border-right: 1px solid white;
  padding: 1em 0;
  background: rgba(255, 0, 0, 0.2);
}
.biz-info .info-snip:last-child {
  border-right: none;
}
.biz-info .info-snip a:hover {
  color: #E85858;
}
.biz-info .info-snip .glyphicon {
  margin-right: .2em;
  color: #E85858;
}
@media screen and (max-width: 767px) {
  .biz-info .info-snip {
    border-top: 1px solid white;
    border-right: none;
  }
}
.our-story {
  padding: 5rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90em;
}
.our-story .story-image h1 {
  display: none;
}
.our-story .story-image img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .our-story .story-image h1 {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .our-story .story-text h1 {
    display: none;
  }
}
.our-story .story-text h2 {
  margin-bottom: 1rem;
}
.services {
  padding: 5rem 2.5rem;
  background: rgba(255, 0, 0, 0.2);
}
.services .service-items .service-item {
  padding: 2rem;
}
.services .service-items .service-item .item-wrapper {
  padding: 3rem;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
}
.services .service-items .service-item .item-wrapper img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .services .service-items .service-item .item-wrapper img {
    width: 50%;
  }
}
.services .service-items .service-item .item-wrapper h2 {
  margin-bottom: 1rem;
}
.services .service-items .service-item .item-wrapper p {
  text-align: justify;
  text-justify: inter-word;
}
.contact .contact-map {
  width: 100%;
  height: 25em;
}
.contact .contact-info {
  padding: 5rem 2.5rem;
}
.contact .contact-info .thank-you-statement {
  margin-bottom: 5rem;
}
.contact .contact-info .info-statement {
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .contact .contact-info .info-statement {
    margin-bottom: 5rem;
  }
}
.footer {
  padding: 5rem 2.5rem;
  background-color: #61cdb4;
}
.footer .social-media-link {
  display: inline-block;
  margin-right: 1rem;
  width: 1.5em;
  height: 1.5em;
  padding: .3em;
  background-color: white;
  font-size: 3rem;
  box-shadow: 0 0 3px #ccc;
  cursor: pointer;
}
.footer .social-media-linklast-child {
  margin-right: 0;
}
.footer .social-media-link:hover {
  background-color: #f26d7d;
  color: white;
}
.footer .social-media-link .fa {
  position: relative;
}
.footer .social-media-link .fa-pinterest,
.footer .social-media-link .fa-instagram {
  top: -1px;
}
.footer .social-media-link .fa-facebook {
  left: -1px;
}
.footer .copyright {
  position: relative;
  color: white;
}
@media screen and (max-width: 767px) {
  .footer .copyright {
    margin-top: 2em;
    text-align: center;
  }
}
